body {
	background-color: #287b59;
}
#main {
	background-color: #287b59;
	padding-bottom: 7%;
	width: 100%;
}

#title {
	text-align: center;
	color: #ffff;
	font-size: 58px;
	padding-top: 10px;
	padding-bottom: 30px;
	text-decoration: underline;
}

.imageone {
	text-align: center;
	display: inline-block;
	background-color: #ff8200;
	padding: 3px;
}

.imagetwo {
	text-align: center;
	display: inline-block;
	background-color: #e4c151;
	padding: 5px;
}

.row {
	text-align: center;
}

#img-caption {
	color: whitesmoke;
	font-size: 42px;
}

.tribute-info {
	color: whitesmoke;
	font-size: 20px;
	font-family: sans-serif;
	padding-bottom: 3%;
}

a {
	color: #ff8200;
	font-size: 25px;
}
